name: 'Docker Build and Push'

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'

jobs:
  build:
    runs-on: 'ubuntu-latest'
    permissions:
      packages: 'write'
      contents: 'read'

    steps:
      - uses: 'actions/checkout@v4'

      - name: 'Login to GitHub Container Registry'
        uses: 'docker/login-action@v3'
        with:
          registry: 'ghcr.io'
          username: '${{ github.actor }}'
          password: '${{ secrets.GITHUB_TOKEN }}'

      - name: 'Build and push'
        run: |
          IMAGE=ghcr.io/victoriametrics/location2source
          docker build -t $IMAGE:latest .
          docker push $IMAGE:latest

          if [[ $GITHUB_REF == refs/tags/* ]]; then
            TAG=${GITHUB_REF#refs/tags/}
            docker tag $IMAGE:latest $IMAGE:$TAG
            docker push $IMAGE:$TAG
          fi
